@keyframes render {
    0% {
        stroke-dasharray: 0 100;
    }
}

.canvas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
    margin-top: 10px;
}

.legend {
    max-width: 250px;
    margin-left: 30px;
}

.title {
    font-family: "Helvetica";
    font-size: 18px;
    line-height: 21px;
    color: #591d48;
}

.caption-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.caption-item {
    position: absolute;
    font-family: "Helvetica";
    line-height: 18px;
    color: #5f5470;
    cursor: pointer;
    display: flex;
}

.caption-item>*{
    padding: 2px;
    margin:0;
    display: inline;
}

.caption-item span{
    font-size: 14.5px!important;
    line-height: 19px;
}

.caption-item b{
    font-family: Oswald;
    font-size: 15.5px!important;
}

.caption-item:nth-child(7){
    text-align: end;
    top: 14%;
    left: 19%;
    width: 27%;
    height: 17%;
    align-items: end;
}

.caption-item:nth-child(2){
    top: 34%;
    left: 6%;
    width: 24%;
    height: 28%;
    align-items: center;
    justify-content: end;
    text-align: right;
}

.caption-item:nth-child(3){
    top: 69%;
    left: 19%;
    width: 27%;
    height: 20%;
    align-items: baseline;
    justify-content: end;
    text-align: right;
}

.caption-item:nth-child(4){
    top: 74%;
    right: 17%;
    width: 29%;
    height: 20%;
}

.caption-item:nth-child(5){
    top: 37%;
    right: 7%;
    width: 23%;
    height: 28%;
    align-items: center;
}

.caption-item:nth-child(6){
    top: 14%;
    left: 53%;
    width: 31%;
    height: 17%;
    align-items: end;
}

.caption-item:nth-child(1){
    top: 34%;
    left: 34%;
    text-align: center;
    width: 31%;
    height: 32%;
    align-items: center;
    color: #f0feff;
    text-shadow: 2px -1px 5px #000;
}

.caption-item:nth-child(1) span{
    width: 100%;
}

.caption-item:nth-child(1) b{
    font-size: 20px;
}
.chart {
    background: #00000036;
    border-radius: 50%;
    transform: rotate(210deg);
    width: 415px;
    height: 415px;
}

.unit {
    fill: none;
    stroke-width: 16;
    cursor: pointer;

    animation-name: render;
    animation-duration: 0.3s;
    transition-property: all;
    transition-duration: 0.1s;

    /*-webkit-filter: drop-shadow( 0px 0px 0px rgba(256, 256, 0, 0)) drop-shadow( 0px 0px 0px rgba(0, 0, 0, 0));
    filter:  drop-shadow( 0px 0px 0px rgba(0, 0, 0, 0)) drop-shadow( 0px 0px 0px rgba(0, 0, 0, 0));*/
}

.unit:hover,
.unit.active,
.unit.hovered {
    stroke-width: 18;
}

.unit:nth-child(1) {
    stroke-width: 2px;
    stroke: #b4e8ff;
    r: 5;
}

.unit:nth-child(2) {
    stroke: #a4e8ff;
    stroke-dasharray: 16.66666667 100;
    stroke-dashoffset: 33.333333334;
}

.unit:nth-child(3) {
    stroke: #aefff6;
    stroke-dasharray: 16.66666667 100;
    stroke-dashoffset: 50.0000000001;
}

.unit:nth-child(4) {
    stroke: #aacdff;
    stroke-dasharray: 16.66666667 100;
    stroke-dashoffset: 66.6666666668;
}

.unit:nth-child(5) {
    stroke: #a4e8ff;
    stroke-dasharray: 16.66666667 100;
    stroke-dashoffset: 83.33333333;
}

.unit:nth-child(6) {
    stroke: #aefff6;
    stroke-dasharray: 16.66666667 100;
    stroke-dashoffset: 100;
}

.unit:nth-child(7) {
    stroke:#aacdff;
    stroke-dasharray: 16.66666667 100;
}


.desk-block {
    flex: 1 50%;
    padding: 11px 0px 5px 0;
    margin-top: 11px;
}

.desk-block [cool-edit-here]{
    padding-right: 10px;
}
.desk-block-list {
    list-style: none;
    padding-left: 0px;
    margin-left: 30px;
    font-family: helvetica;
    text-align: justify;
    margin-top: 20px;
}
.desk-block-list li {
    position: relative;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: #ffffff;
    padding: 21px 18px 15px 70px;
    border: 3px solid transparent;
    border-radius: 0px !important;
    width: 100%;
    margin-left: -8px;
    cursor: pointer;
    margin-right: 0;
}
.desk-block-list li a {
    text-decoration: none;
}
.desk-block-list li .before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    left: 4%;
    top: 45%;
    border-radius: 50%;
    fill: #fff;
}

.desk-block-list li:hover{
    border: 3px solid #caeaff;
}

.desk-block-list__active {
    width: 98%;
    border: 2px solid #c6d6f5;
    border-radius: 5px;
}

.desk-block-list li::before {
    left: 35px;
}

.caption-item.active{
    text-decoration: none;
}

.activity-direction-index{
    padding-left: 9px;
}

.activity-direction-index{
    padding-bottom: 7px;
}

.caption-item:nth-child(1) b{
    font-size: 18px!important;
}

.direction-text,
.activity-text{
    font-family: helvetica;
    font-weight: 600;
    position: absolute;
    color: #e2f6ff82;
}

.direction-text{
    bottom: 7px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 60px;
}

.activity-text{
    bottom: 0;
    right: -71px;
    font-size: 33px;
}

.direction-text span{
    transform: translateX(-11px);
    display: inline-block;
}

.unit:nth-child(6):hover, .unit:nth-child(6).active, .unit:nth-child(6).hovered {
    -webkit-filter: drop-shadow( 1px 0px 1px rgba(125, 125, 125, .2)) drop-shadow( 0px -1px 1px rgba(125, 125, 125, .2));
    filter: drop-shadow( 1px 0px 1px rgba(125, 125, 125, .2)) drop-shadow( 0px -1px 1px rgba(125, 125, 125, .2));
}

.unit:nth-child(5):hover, .unit:nth-child(5).active, .unit:nth-child(5).hovered {
    -webkit-filter: drop-shadow( 1px -1px 1px rgba(80, 80, 80, .2) ) drop-shadow( -20px -3px 4px rgba(80, 80, 80, .2));
    filter: drop-shadow( 1px -1px 1px rgba(80, 80, 80, .2) ) drop-shadow( -20px -3px 4px rgba(80, 80, 80, .2))
}

.unit:nth-child(4):hover, .unit:nth-child(4).active, .unit:nth-child(4).hovered {
    -webkit-filter: drop-shadow( 0px 1px 1px rgba(90, 90, 90, .2)) drop-shadow( -1px -3px 1px rgba(90, 90, 90, .2));
    filter: drop-shadow( 0px 1px 1px rgba(90, 90, 90, .2)) drop-shadow( -1px -3px 1px rgba(90, 90, 90, .2));
}

.unit:nth-child(3):hover, .unit:nth-child(3).active, .unit:nth-child(3).hovered {
    -webkit-filter: drop-shadow( 0px 1px 2px rgba(125, 125, 125, .2)) drop-shadow( 0px -2px 2px rgba(125, 125, 125, .2));
    filter: drop-shadow( 0px 1px 2px rgba(125, 125, 125, .2)) drop-shadow( 0px -2px 2px rgba(125, 125, 125, .2));
}

.unit:nth-child(2):hover, .unit:nth-child(2).active, .unit:nth-child(2).hovered {
    -webkit-filter: drop-shadow( 1px -3px 2px rgba(100, 100, 100, .2)) drop-shadow( 0px 1px 1px rgba(100, 100, 100, .2));
    filter: drop-shadow( 1px -3px 2px rgba(100, 100, 100, .2)) drop-shadow( 0px 1px 1px rgba(100, 100, 100, .2));
}

.unit:nth-child(7):hover, .unit:nth-child(7).active, .unit:nth-child(7).hovered {
    -webkit-filter: drop-shadow( 0px 2px 1px rgba(125, 125, 125, .2)) drop-shadow( -1px -1px 1px rgba(110, 110, 110, .2));
    filter: drop-shadow( 0px 2px 1px rgba(110, 110, 110, .2)) drop-shadow( -1px -1px 1px rgba(110, 110, 110, .2));
}

.unit:nth-child(1):hover, .unit.active:nth-child(1), .unit.hovered:nth-child(1) {
    stroke-width: 2px;
    stroke: #94d7f5;
    r: 6;
}

.desk-block-list li{
    transition-duration: 0.7s;
    max-height: 150px;
    transform: scale(1);
    opacity: 1;
    overflow: hidden;
    position: static;
    top: 1;
}


.desk-block-list li.hidden{
    transform: scale(1);
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
}

.direction-nav svg {
    fill: #aedcfb;
    width: 32px;
}

.direction-nav .prev svg{
    transform: rotate(180deg);
}
[cool-edit-here] .l-btn *,
[cool-edit-here] .l-btn{
    fill: #99d9ff;
    stroke:#99d9ff;
}


.desk-block-list li.new:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    left: 0%;
    top: 48%;
    border-radius: 50%;
    background: #87e785;
}

.canvas .caption-item.new:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    left: -10%;
    top: 48%;
    border-radius: 50%;
    background: #26c322;
}