.left.ico{
    background: #d6eeff;
}

.left.ico svg g,
.left.ico svg path{
    fill: #8ed2ff;
}
.project-row .table-data{
    background: #def3fd
}

.secondary-text {
    color: #2e7eb0 !important;
}