.tab-content{
    padding-top: 20px;
}

.legend{
    display: flex;
    gap: 25px;
}

.legend svg{
    width: 173px;
    height: auto;
}

.legend .right{
    display: flex;
    flex-direction: column;
}

.legend .item{
    display: flex;
    font-family: system-ui;
    margin-bottom: 25px;
    position: relative;
}

.legend .capital{
    width: 105px;
    display: block;
    min-width: 105px;
    line-height: 30px;
    margin-right: 20px;
}

.legend .secondary{
    font-size: 18px;
    text-align: justify;
    padding-right: 0px!important;
    margin-right: 55px;
    position: relative;
    max-height: 7rem;
    overflow: hidden;
    transition-duration: 0.3s;
}

.legend .item:last-child .secondary,
.legend .item:last-child .capital{
    color: #7a7a7a;
    font-size: 15px;
}

.legend .item.show-me .secondary{
    max-height: 999px;
}


.tabs {
    width: 100%; padding: 0px; margin: 0 auto;
}

. tabs>button {
    display: inline-block;
    padding: 7px;
    margin: 0 -5px -1px 0;
    text-align: center;
    color: #666666;
    border: 1px solid #C0C0C0;
    background: #E0E0E0;
    cursor: pointer;
}
.tabs>button.active {
    color: #000000;
    border: 1px solid #C0C0C0;
    border-bottom: 1px solid #FFFFFF;
    background: #FFFFFF;
}

body .nav-tabs .nav-link{
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 30px;
    text-align: center;
    font-size: 21px;
    width: 148px!important;
    padding: 13px 0!important;
}

.nav-link.active{
    position: relative;
}

.nav-link.active::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    background: #709acf;
    height: 1.5px;
    left: 0;
}

.nav-tabs{
    border-bottom: 1px solid #cdd5e3!important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: transparent!important;
    border-color: #dee2e6 #dee2e6 #fff!important;
    border: 1px solid #cdd5e3!important;
    border-bottom: 2px solid #ff9a9a!important;
    border-top: none!important;
    color: #202124!important;
}

.legend .toggleHeight {
    position: absolute;
    bottom: -35px;
    right: 0;
    left: 0;
    width: 30PX;
    margin: auto;
    transition-duration: 0.3s;
    transform: rotate(90deg);
    cursor: pointer;
    height: auto;
    z-index: 20;
}

.toggleHeight svg{
    width: 30px!important;
    height: auto;
}

.legend .show-me .toggleHeight {
    transform: rotate(-90deg);
    bottom: -28px;
}