.notes-list .note {
    border: 2px solid #c0ecff;
    background-color: #baeaff;
    box-shadow: 0 1px 4px #919191, -23px 0 20px -23px rgb(0 0 0 / 80%), 23px 0 20px -23px rgb(0 0 0 / 80%), 0 0 40px rgb(0 0 0 / 10%) inset;
    font-weight: 300;
    background-size: cover;
    border-radius: 5px;
}

.notes-list .note span {
    color: #919191;
}

.notes-list .note .description {
    color: #000;
    text-shadow: none;
}