.normatives-list a{
	color: #fff!important;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	display: block;
}

.normatives-list ul{
	padding-left: 0!important;
}

.normatives-list li {
	list-style: none;
}