.task .field{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.task .field .field-label{
    width: 80px;
    font-family: Oswald;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 24px;
    color: #212529;
}