.activity_direction{
	margin-left: 20px;
}

. direction-text, direction-link{
  font-family: helvetica !important;
  }

.activity_direction .item{
	background: #c0d6fd;
	border-radius: 14px;
	margin: auto;
	padding: 8px 10px;
	height: 100%;
}

.activity_direction .item *{
	color: #fff!important;
}

.activity_direction .item-title{
	display: flex;
	align-items: center;
}

.activity_direction .item-title img{
	max-width: 46px;
	max-height: 46px;
}


.activity_direction .row > *{
	padding: 5px;
}

.activity_direction .row{
	margin-left: -5px;
}

.activity_direction .event{
	position: relative;
}

.activity_direction .banner img, .activity_direction .event img{
	max-width: 100%;
}

.activity_direction .item.local-docs,
.activity_direction .item.papers{
	background: transparent;
	border-radius: 0;
	border: 1px solid #c0d6fd;
}

.activity_direction .item.events, .activity_direction .item.rupor-block, .activity_direction .item.banner {
	background: NONE;
	BORDER-RADIUS: 0;
}

.activity_direction .item-title, .activity_direction .item.events .item-title, .activity_direction .item.rupor-block .item-title, .activity_direction .item.banner .item-title{
	background: rgb(0 0 0 / 19%);
	BORDER-RADIUS: 0;
	text-transform: uppercase;
	padding: 6px 16px;
}

.middleColumn.other {
	background: transparent!important;
}

.middleColumn.other *{
	color: #fff;
}

.activity_direction  .curators, .activity_direction  .curators b, .block-title span{
	color: #fff!important;
}

.activity_direction li, .activity_direction .events-list .title, .rupors-list .rupor .name{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	display: block;
}

.activity_direction li a:hover,
.events-list:hover .title,
.rupors-list .rupor:hover .name{
	text-decoration: underline;
	color: #eee!important;
	cursor: pointer;
}

.readMore{
	color: #fff!important;
	margin-left: 20px;
	text-decoration: none;
}

.activity_direction .actions{
	display: flex;
	justify-content: space-between;
}

.activity_direction .actions button{
	outline: none;
}

body .editor-container{
	position: relative;
	overflow: visible;
}

.editor-container>.actions {
	position: absolute;
	right: -5px;
	top: -1px;
	gap: 8px;
	display: flex;
	opacity: 0;
	transition-duration: 0.5s;
	width: fit-content;
	width: -moz-fit-content;
}

.editor-container>.actions>div {
	padding: 2px;
	background: #9fd0f1;
	border-radius: 4px;
	cursor: pointer;
	transition-duration: 0.3s;
}

.editor-container:hover>.actions{
	opacity: 1;
	z-index: 2;
}


.editor-container>.actions svg {
	width: 22px;
	height: 19px;
}

.middleColumn.other .block-title {
	margin-top: 18px;
	width: 100%;
	background: rgba(255, 255, 255, 0.15)!important;
}

.middleColumn.other .block-title span {
	font-size: 24px;
	color: #273d69;
	line-height: 25px;
}

.banner .background-preview{
	height: 509px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


.activity_direction .actions .plus{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
	width: 19px;
	height: 19px;
	background: #9fd0f1;
	border-radius: 4px;
	margin-right: auto;
	border: none;
	margin-top: 4px;
	cursor: pointer;
}

.activity_direction .actions .plus path{
	fill: #3a8ebf;
}

.normatives{
	margin-top: 20px;
}

body .direction-text .direction-label{
	color: #fff!important;
    margin-left: 23px;
}

.direction-text .direction-link{
	color: #fff!important;
}

.activity_direction  .poisk-container{
	position: relative;
}

.activity_direction  .poisk-container .search-icon {
	position: absolute;
	width: 21px;
	top: 3.3px;
	right: 4px;
	fill: #fff;
}

.activity_direction .poisk-container input {
	width: 265px;
	height: 33px;
	background: transparent;
	border: 1px solid #fff;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 14px;
	text-align: end;
	outline: none;
	margin-left: auto;
	padding: 3px 12px;
	display: block;
	font-family: 'HeliosCondRegular';
	outline: none;
	margin-left: auto;
	display: block;
	padding-right: 34px!important;
	color: #fff!important;
}

.activity_direction .poisk-container .search-icon {
	position: absolute;
	width: 21px;
	top: 3.3px;
	right: 4px;
	fill: #fff;
}

.activity_direction .poisk-container .search-icon .search-path {
	stroke: #fff;
}

.ui-table .table-row.new::before {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background: #5dd761;
	border-radius: 50%;
	left: -17px;
	top: 20px;
}