.ui-side-panel-wrap-title-box, #pagetitle, .ui-side-panel-wrap-title-name-item{
    width: 100% !important;
}

.ui-page-slider-wrapper .ui-side-panel-wrap-title, .ui-side-panel-wrap-title-box, #pagetitle, .ui-side-panel-wrap-title-name-item{
    margin: 0!important;
    padding: 0!important;
    height: auto!important;
}

body.ui-page-slider-wrapper-default-theme{
    background: #1f99ff17!important;
}

.ui-side-panel-wrap-title-name {
    width: 100%;
    background: rgb(37 109 142);
    display: block;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
    color: #ffffff;
    padding: 3px 10px 10px 10px!important;
}

legend label{
    display: inline-block;
    color: #00000087;
    font-size: 18px;
}
.legend textarea {
    min-height: 200px;
}
.legend select, legend input, legend textarea {
    display: block;
    box-sizing: border-box;
    padding: 10px 9px;
    min-height: 30px;
    max-width: 100%;
    width: 100%;
    outline: none;
    border: 1px solid #c4c7cc;
    border-radius: var(--ui-field-border-radius, 1px);
    background-color: #fff;
    color: #424956;
    font: 15px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: 220ms all ease;
    border-radius: 3px;
}
.cool-form{
    max-width: 375px;
}

.cool-form .ui-btn{
    margin: auto;
    width: fit-content;
    width: -moz-fit-content;
    display: block;
    background: #256d8e;
    color: #fff;
}

.error label{
    color: #fd7e7e;
}

.error .form-target, .error .selectize-input{
    border: 1px solid #f3b0b0;
}

.ui-btn-primary {
    background: #256d8e!important;
    border-color: #256d8e!important;
}