.phonebook{
    padding: 0px 0px 5px 9px;
}

.phonebook .block-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.phonebook .block-title input{
    outline: none;
    margin: 0px 0;
    margin-right: 22px;
    padding: 2px 0px;
    height: 72%;
    font-size: 16px;
    color: #ffffff!important;
    background: transparent;
    border: none;
    border-bottom: 1.9px solid #eeeeeec7;
    width: 255px;
    z-index: 3;
}

.phonebook .block-title .pencil{
    position: absolute;
    right: 231px;
    top: 5px;
    z-index: 1;
    animation-duration: 0.6s;
    transition-duration: 0.6s;
}

.phonebook .block-title .pencil svg{
    width: 23px;
    height: auto;
}

.phonebook-result{
    margin-left:45px;
}

.phonebook-result .row{
    padding: 0px 5px;
    border-bottom: 1px solid #d8d8d8;
    font-size: 19px;
    font-family: 'HeliosCondRegular';
    margin-top: -2px;
}

.phonebook-result .row:last-child, .phonebook-result .row:first-child {
    border-bottom: none;
    margin-bottom: 15px;
}

.goost-result .row:first-child {
    margin-bottom: -8px;
}

.phonebook-result .row .nothing{
    height: 123px;
    justify-content: center;
    background: #eeeeee12;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.goost-result .row>*{
    color: #fff;
}

.goost-result .row {
    padding: 8.5px 5px;
    border-bottom: 1px solid #d8d8d861;
}

.goost-result .row:last-child{
    border-radius: none;
}

.goost-head{
    display: flex;
    gap: 13px;
}

.goost{
    background: #eeeeee40;
    border-radius: 2px;
    height: 20px;
    width: 43px;
    display: inline-block;
}

.phonebook-result .row:not(:first-child){
    font-weight: 300;
    font-family: 'HeliosCondRegular';
}

.phonebook-result .row:not(:first-child)>:first-child{
    cursor: pointer;
}

.phonebook-result .row div{
    padding: 0 5px;
}


.phonebook-result .row div:first-child{
    padding-left: 0!important;
}

.phonebook-result .row div:last-child{
    padding-left: 0!important;
}


.goost-result .goost,
.goost-result .row:not(:first-child)>:first-child{
    cursor: initial;
}

@keyframes writeFish {
    15% {
        -webkit-transform: translateX(3px), translateY(-4px);
        transform: translateX(3px), translateY(-4px);
      }
      30% {
        -webkit-transform: translateX(2px), translateY(-2px);
        transform: translateX(2px), translateY(-2px);
      }
      40% {
        -webkit-transform: translateX(6px), translateY(-6px);
        transform: translateX(6px), translateY(-6px);
      }
      50% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
      }
      65% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
      }
      100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
      }
}

.writed.pencil{
    transition-duration: 0.6s;
    opacity: 0;
}

.phonebook .block-title:hover .pencil{
    -webkit-animation: 0.6s writeFish ease-out;
    animation: 0.6s writeFish ease-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

