.phonebook .block-title .pencil svg {
    fill: #137fc4!important;
}

.phonebook .block-title input {
    color: #137fc4!important;
    border-bottom: 1px solid #137fc4!important;
}

.goost {
    background: #dcdcdc70;
}

.goost-result .row {
    border-bottom: 1px solid #dedede7d;
}

.goost-result .row:first-child>*,
.phonebook-result .row:first-child>*{
    color: #959595
}
