.entypo-flag .label{
    position: relative;
    padding: 0 0 0 50px;
    background: #e7f2ff;
    height: 60px;
    border-bottom: 5px solid #cde3ff;
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
} 

.entypo-flag .disable-el{
    width: 100%;
    height:100%;
    opacity: 0.1;
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    display:none;
    cursor: wait;
}

.entypo-flag .disable-el.show{
    display:block;
}

.entypo-cog:after {
    display: none;
}
.anim-menu-gb{
    position: relative;
    display: flex;
    flex-direction: column;
}
#docs {margin-left:37vw;}
input:checked:before {
    color: #fff;
    transform: scale(1.5);
}
.anim-menu-gb section {
    position: absolute;
    left: 0;
    top:60px;
    width: 100%;
    text-align: justify;
    margin-top: 10px;
    transform: scale(0);
    transition: 1s linear;
    opacity: .3;
}
.anim-menu-gb section:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
}

.anim-menu-gb div.links {
    width: 100%;
    color: #fff;
}
.anim-menu-gb label {
    line-height: 3rem;
    text-align: center!important;
    cursor: pointer;
    transition: .3s;
    position: relative;
    z-index: 100;
    display: block;
    float: left;
    font-size: 16px!important;
    padding-top: 14px;
    text-transform: uppercase;
    width: 252px;
    height: 100%;
    border-right: 1px dotted #575654;
    color: #000!important;
    font-family: "Oswald";
    font-style: normal;
}

.anim-menu-gb .label::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    height: 60px;
    width: 252px;
    background: #cde3ff;
    transition: transform 400ms;
}

#local:checked ~ .entypo-flag .label::after {
    transform: translateX(252px);
}

#importants:checked ~ .entypo-flag .label::after {
    transform: translateX(504px);
}

.anim-menu-gb div.links:before {
    color: #fff;
    font-size: 5rem;
    left: 10%;
    transition: 1s linear;
}
#docs:checked ~ div.links:before {left:10%;}
#local:checked ~ div.links:before {left:35%;}
/*
.anim-menu-gb label:nth-of-type(1){
    background: #ccd8ff;
}
.anim-menu-gb label:nth-of-type(2){
    background: #ccd8ff;
}
.anim-menu-gb label:nth-of-type(3){
    background: #ccd8ff;
}
.anim-menu-gb label:nth-of-type(4){
    background: #ccd8ff;
}*/

#docs:checked ~ .docs,
#local:checked ~ .local{
    transform: scale(1);
    animation: mostrar 1.5 linear;
    opacity: 1;
    margin-top: 20px;
}
@keyframes mostrar {
    0% {top: 105%; scale:1; opacity: .3;}
    50% {opacity: .6;}
}