body .middleColumn.other {
    background: #fff!important;
}

.middleColumn.other .block-title span, body .row .middleColumn.other * {
    color: #212529!important;
}

.activity_direction .item-title, .activity_direction .item.events .item-title, .activity_direction .item.rupor-block .item-title, .activity_direction .item.banner .item-title{
    background: #C8E9FF!important;
    color: #212529;
}

.activity_direction .item * {
    color: #212529!important;
}

.activity_direction li a:hover, .events-list:hover .title, .rupors-list .rupor:hover .name {
    text-decoration: underline;
    color: #137fc4!important;
    cursor: pointer;
}

.activity_direction .actions .plus path{
    fill: #fff;
}
body .direction-text .direction-label{
    color: #212529!important;
}

.direction-text .direction-link{
    color: #137fc4!important;
}

.rupors .event .title {
    background: #c8c8c8!important;
}
body .direction-text .direction-label{
    color: #212529!important;
}

body .row .direction-text>.direction-link{
    color: #137fc4!important;
}

.activity_direction .poisk-container input {
    background: #fff;
    color: #9fa4b6!important;
    border-bottom: 2px solid #137fc4 !important;
}

.activity_direction .poisk-container .search-icon .search-path {
    stroke: #5589aa;
}