.drive-container .main-grid-cell-content .object .icon{
    margin-right: 4px;
}

.drive-container .main-grid-cell-content .object .title{
    cursor: pointer;
}


.drive-container .main-grid-cell-content .object .icon svg{
    width: 28px;
    height: auto;
}

.drive-container .main-grid-cell-content .object{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.webform-field-upload{
    width: auto!important;
}

.drive-container .main-ui-filter-search{
    margin-top: 0!important;
}

.drive-container .button-drive{
    float: right;
}

legend {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: calc(1.275rem + 0.3vw);
    line-height: inherit;
    white-space: normal;
    text-align: initial;
}

legend label {
    display: inline-block;
    color: #00000087;
    font-size: 17px;
}

legend select, legend input, legend textarea {
    display: block;
    box-sizing: border-box;
    padding: 10px 9px;
    min-height: 30px;
    max-width: 100%;
    width: 100%;
    outline: none;
    border: 1px solid #c4c7cc;
    border-radius: var(--ui-field-border-radius, 1px);
    background-color: #fff;
    color: #424956;
    font: 15px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: 220ms all ease;
    border-radius: 3px;
}

