.gallery {
    /*max-width: 653px;*/
    padding: 11px 0px 5px 9px;
    overflow: hidden;
    margin-top: -12px;
}
.galleryimg {
    display: flex;
    margin-top: 11px;
    margin-left: 27px;
}

.gallery img{
    margin-right: 15px;
}

.galleryimg .owl-stage-outer, .galleryimg .owl-stage{
    transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; min-width: 1000px!important;
}

.rs-owl-nav{
    margin: auto;
    display: flex;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    margin-top: 10px;
    gap: 13px;
    margin-top: 1px;
}

.rs-owl-nav .customServicesOwlPrev svg{
    transform: rotate(180deg);
}
.rs-owl-nav svg {
    fill: #aedcfb;
}