.importants-list{
    display: flex;
	row-gap: 10px;
	gap: 10px;
}
.importants-list .important{
	position: relative;
	border: 1px solid #e7e1e1;
	display: flex;
    flex-direction: column;
	width: calc((100% / 3) - 7px);
}

.importants-list .important .l-btns{
	position: absolute;
	right: 10px;
	top: 10px;
	gap: 8px;
	display: flex;
	opacity: 0;
	transition-duration: 0.5s;
}

.importants-list .important:hover .l-btns{
	opacity:1;
}

.importants-list .important .l-btns>div:hover{
	transform: scale(1.1);
}

.importants-list .important .preview{
	width: 100%;
	height: auto;
}

.importants-list .important .content{
	padding: 15px 18px 30px;
	font-family: helvetica;
	background: #fff;
	flex-grow: 1;
}

.importants-list .content .title{
	color: #137fc4;
	font-size: 20px!important;
	margin-bottom: 10px;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	white-space: normal;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.importants-list .content .description{
	font-size: 18px!important;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	white-space: normal;
	-webkit-line-clamp: 15;
	-webkit-box-orient: vertical;
}

.importants-list .foot{
	padding: 0px 18px;
	background: aliceblue;
	font-size: 16px;
	color: #5e5e5e;
	line-height: 33px;
	border-top: 1px solid #e7e1e1;
}

.poisk-container {
    position: relative;
    display: initial;
    z-index: 5;
}

.poisk-container .search-icon {
    position: absolute;
    width: 21px;
    top: 3.3px;
    right: 2px;
    fill: #fff;
    margin-top: -16px;
    cursor: pointer;
	z-index: 9;
}

.poisk-container input {
    padding: 3px 33px 3px 6px!important;
    height: 28px;
    font-size: 15px;
    background: transparent;
    border: none!important;
    border-bottom: 2px solid #137fc4!important;
    max-width: 256px;
	margin-top: -28px;
    margin-left: auto;
    color: #137fc4!important;
    outline: none;
    z-index: 5;
}

.importants .poisk-container .search-icon .search-path{
    stroke: #137fc4;
}