.entity-settings legend label{
    background: #fff;
    color: #525c69;
    font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.entity-settings legend input{
    display: block;
    box-sizing: border-box;
    padding: 10px 30px 10px 9px;
    max-width: 100%;
    width: 100%;
    outline: none;
    border: 1px solid #dde0e8;
    border-radius: 1px;
    background-color: #fff;
    color: #424956;
    font: 15px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: 220ms all ease;
    text-overflow: ellipsis;
}