.activity_direction{
	margin-left: 20px;
}

.activity_direction .curators{
	font-family: helvetica;
    font-size: 19px;
    margin-top: 10px;
}

.activity_direction .item{
	border-radius: 14px;
	padding: 8px 10px;
	height: 100%;
}

.activity_direction .item *{
	color: #fff;
}

.activity_direction .item-title{
	display: flex;
	align-items: center;
}

.activity_direction .item-title img{
	max-width: 46px;
	max-height: 46px;
}

.activity_direction .item .poisk-container{
	margin-left: auto;
}

.activity_direction .item .finder{
	width: 275px;
	height: 31px;
	border: none;
	border-bottom: 1px solid #c8e9ff;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 14px;
	text-align: end;
	color: #9fa4b6;
	outline: none;
	margin-left: auto;
	padding: 3px 12px;
	display: block;
	font-family: 'HeliosCondRegular';
	display: block;
}

.activity_direction .row > *{
	padding: 6px;
}

.activity_direction .row{
	margin-left: -5px;
}

.activity_direction .event{
	position: relative;
}

.activity_direction .banner img, .activity_direction .event img{
	max-width: 100%;
}

.activity_direction .item.local-docs,
.activity_direction .item.papers{
	background: transparent;
	border-radius: 0;
	border: 1px solid #c0d6fd;
}

.activity_direction .item .normatives-list{
	overflow-y: auto;
	overflow-x: hidden;
	height: 250px;
}

.activity_direction .item .normatives-list::-webkit-scrollbar {
    width: 5px;
}

.activity_direction .item .normatives-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.activity_direction .item .normatives-list::-webkit-scrollbar-thumb {
    background: #888;
}

.activity_direction .item .normatives-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.activity_direction .item .normatives-list .row .table-coll{
	background: rgb(255 255 255 / 31%);
}
.activity_direction .item .normatives-list .row{
	border-bottom: none!important;
}



.activity_direction .item.events, .activity_direction .item.rupor-block, .activity_direction .item.banner {
	background: NONE;
	BORDER-RADIUS: 0;
	display: flex;
	flex-direction: column;
}

.activity_direction .item-title, .activity_direction .item.events .item-title, .activity_direction .item.rupor-block .item-title, .activity_direction .item.banner .item-title{
	background: rgb(0 0 0 / 19%);
	BORDER-RADIUS: 0;
	text-transform: uppercase;
	padding: 6px 16px;
    font-size: 19px;
    max-height: 45px;
}

.middleColumn.other {
	background: transparent!important;
}

.middleColumn.other *{
	color: #fff;
}

.activity_direction  .curators, .activity_direction  .curators b, .block-title span{
	color: #fff!important;
}

/*.activity_direction li, .activity_direction .events-list .title, .rupors-list .rupor .name, .rupors .title{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	display: block;
}*/

.activity_direction li a:hover,
.events-list:hover .title,
.rupors-list .rupor:hover .name{
	text-decoration: underline;
	color: #eee!important;
	cursor: pointer;
}

.readMore{
	color: #fff!important;
	margin-left: 20px;
	text-decoration: none;
}

.activity_direction .actions{
	display: flex;
	justify-content: space-between;
}

.activity_direction .actions button{
	outline: none;
}

body .editor-container{
	position: relative;
	overflow: visible;
}

.editor-container>.actions {
	position: absolute;
	right: 3px;
	top: 2px;
	gap: 8px;
	display: flex;
	opacity: 0;
	transition-duration: 0.5s;
	width: fit-content;
	width: -moz-fit-content;
}

.editor-container>.actions>div {
	padding: 2px;
	background: #9fd0f1;
	border-radius: 4px;
	cursor: pointer;
	transition-duration: 0.3s;
}

.editor-container:hover>.actions{
	opacity: 1;
	z-index: 2;
}


.editor-container>.actions svg {
	width: 22px;
	height: 19px;
}

.middleColumn.other .block-title {
	margin-top: 18px;
	width: 100%;
	background: rgba(255, 255, 255, 0.15)!important;
}

.middleColumn.other .block-title span {
	font-size: 24px;
	color: #273d69;
	line-height: 25px;
}

.banner .background-preview{
	min-height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 42px;
	background-image: url(/media/cosmic-background.jpg);
    box-shadow: 0 1px 4px #363636, -23px 0 20px -23px rgb(0 0 0 / 80%), 23px 0 20px -23px rgb(0 0 0 / 80%), 0 0 40px rgb(0 0 0 / 10%) inset;
}


.activity_direction .actions .plus{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 19px;
	height: 19px;
	background: #9fd0f1;
	border-radius: 4px;
	margin-right: auto;
	border: none;
	margin-top: 5.5px;
	cursor: pointer;
}

.activity_direction .actions .plus path{
	fill: #001424;
}

.direction-link{
	color: #fff!important;
	margin-bottom: 10px;
}

body .direction-text b{
	color: #fff!important;
}

.activity_direction .events .back-cont a {
	color: #396f94!important;
    font-size: 22px;
	background: #bde6ff;
    text-decoration: none;
	background-position: center;
    background-size: cover;
}
body .main-bg .item .date {
	color: #eeeeee!important;
}

.rupors .event .title {
	background: #030c3370!important;
	color: #fff!important;
	height: 36.5px!important;
	line-height: 36.5px!important;
	top: 0!important;
}

.background-picture.abcent {
	height: 32.5px!important;
}

.ads-list .desc-container.abcent .description{
	padding: 0 5px;
}

.activity_direction .banner .background-preview .anons{
    text-align: center;
    font-family: helvetica;
    font-size: 26px;
    color: #fff!important;
}

.activity_direction .banner .background-preview .text{
    text-align: center;
    font-family: helvetica;
    font-size: 20px;
    color: #fff!important;
    padding: 0px 15px 0px 15px;
    min-height: 370px;
}

.background-preview .preview-container{
	height: 100%;
	background: #236da57a;
	overflow: hidden;
}

.table-row {
    border-bottom: 1px solid #9fd0f1!important;
}

.prevent-height>div{
	height: 100%;
}

[cool-edit-here] {
	padding-right: 5px!important;
	padding-top: 6px!important;
}

.ads-container{
	padding-top: 15px!important;
	height: 100%;
}

.ads-container>[cool-edit-here],
.ads-container>.poisk-container
{
	display: none!important;
}

.ads-list .ad{
	width: 100% !important;
}

.activity_direction  .poisk-container{
	position: relative;
}

.activity_direction  .poisk-container .search-icon {
	position: absolute;
	width: 21px;
	top: 3.3px;
	right: 4px;
	fill: #fff;
}

.activity_direction .poisk-container input {
	width: 265px;
	height: 33px;
	background: transparent;
	border: 1px solid #fff;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 14px;
	text-align: end;
	outline: none;
	margin-left: auto;
	padding: 3px 12px;
	display: block;
	font-family: 'HeliosCondRegular';
	outline: none;
	margin-left: auto;
	display: block;
	padding-right: 34px!important;
	color: #fff!important;
}

.activity_direction .poisk-container .search-icon {
	position: absolute;
	width: 21px;
	top: 3.3px;
	right: 4px;
	fill: #fff;
}

.activity_direction .poisk-container .search-icon .search-path {
	stroke: #fff;
}