.normatives{
	margin-top: 20px;
	margin-left: 22px;
}

body .direction-text .direction-label{
	margin-left: 23px;
}

.normatives-list .direction{
	margin-bottom: 20px;
}

.direction .direction-name{
	cursor: pointer;
	color: #202020!important;
	font-size: 22px;
}

.normatives-list .direction-name{
	position: relative;
}
.normatives-list .direction .ui-table{
	transition-duration: 0.6s;
	max-height: 1000px;
}
.normatives-list .direction.hide .ui-table{
	max-height: 0px;
}

.normatives-list .direction.hide .ui-table a,
.normatives-list .direction.hide .ui-table .table-coll{
	font-size:0px!important;
}

.normatives-list .direction.hide .ui-table .table-row{
	border-bottom:none;
}

.normatives-list .direction-name::before{
	border: 3px solid #137fc4;
	width: 10px;
	height: 10px;
	position: absolute;
	left: -19px;
	top: 10px;
	content: '';
	border-left: 0;
	border-top: 0;
	transform: rotate(45deg);
	transition-duration: 0.6s;
}

.normatives-list .direction.hide .direction-name::before {
	transform: rotate(225deg);
	top: 15px;
}

.ui-table .table-row{
	position: relative;
}

.ui-table .table-row.new::before {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background: #5dd761;
	border-radius: 50%;
	left: -17px;
	top: 16px;
}

.table-row.editor-container{
	min-width: 600px;
}

.normatives .ui-table .table-row .table-coll{
	color: #726868!important;
}

.normatives .ui-table .table-row .table-coll:first-child, .ui-table .table-row .table-coll:first-child>*{
	color: #137fc4!important;
}

.rs_activity_direction_docs  .poisk-container .search-icon {
	position: absolute;
	width: 21px;
	top: 3.3px;
	right: 4px;
	fill: #fff;
}

.rs_activity_direction_docs .poisk-container input {
	width: 265px;
	height: 33px;
	border: 1px solid #fff;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 14px;
	text-align: end;
	outline: none;
	margin-left: auto;
	padding: 3px 12px;
	display: block;
	font-family: 'HeliosCondRegular';
	outline: none;
	margin-left: auto;
	display: block;
	padding-right: 34px!important;
	background: #fff;
	color: #9fa4b6!important;
	border-bottom: 2px solid #137fc4 !important;
}

.rs_activity_direction_docs .poisk-container .search-icon {
	position: absolute;
	width: 21px;
	top: 3.3px;
	right: 4px;
	fill: #fff;
}

.rs_activity_direction_docs .poisk-container .search-icon .search-path {
	stroke: #137fc4;
}