.new-message-container, .new-theme-container{
    width: 600px;
    background: #eeeeee7a;
    margin-bottom: 30px;
}

.new-message-container .avatar,
.new-theme-container .avatar{
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-message-container textarea,
.new-theme-container textarea{
    padding: 10px;
    border: 1px solid #e6e6e6;
    width: 100%;
    outline: none;
    height: 100px;
    resize: none;
}

.new-message-container input[type=text],
.new-theme-container input[type=text]{
    width: 100%;
    border: 1px solid #e6e6e6;
    margin-bottom: 15px;
    outline: none;
    padding: 3px 10px;
}

.new-theme-container{
    max-height: 0px;
    overflow: hidden;
    transition-duration: 1s;
    position: relative;
}

.theme{
    position: relative;
    margin-bottom: 20px;
}

.theme .tags{
    margin-bottom: 16px;
}

.theme .tag{
    font-weight: 500;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-bottom: 5px;
    border-radius: 12px;
    padding: 0 10px;
    min-width: 72px;
    max-width: 100%;
    height: 21px;
    line-height: 21px;
    margin-right: 8px;
    background-color: hsla(0,0%,80%,.25);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666666!important;
    font-size: 12px;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.theme .title{
    font-size: 20px;
    font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.2;
    text-rendering: optimizelegibility;
    position: relative;
    top: 0;
    margin: 16px 0!important;
    width: auto;
    word-break: break-word;
    word-wrap: break-word;
}

.theme .author{
    align-items: center;
    gap: 15px;
}

.theme .author .fio{
    font-weight: 500;
    color: #333;
    text-decoration: none;
}

.theme .author .created{
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.theme .description{
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin-top: 20px;
}

.comment .files,
.theme .files{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 10px;
}

.comment .files>a,
.theme .files>a{
    cursor: pointer;
}

.comment-list{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.comment-list .comment{
    background: #fafafa;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 17px 14px;
    border-radius: 12px;
}

.comment .date, .comment .author{
    font-size: 15px;
    color: #787878!important;
}

.comment .text{
    font-size: 18px;
}

.add-comment{
    margin-top: 60px;
}

.comment .answer{
    margin-left: auto;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
    bottom: 30px;
    top: initial!important;
    opacity: 1!important;
    transform: scale(1) !important;
}

.comment .answer .icon{
    background: transparent;
}
.comment .answer .icon *{
    opacity: 0;
}

.comment .answer .icon:before{
    content: 'Ответить';
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #2196F3;
    font-size: 15px!important;
}

.comment_add_container, .comment_edit_container{
    margin-left: 40px;
    margin-top: 10px;
    max-height: 999px;
    transition-duration: 1s;
    order: 1;
}

.comment_add_container .new-message-container,
.comment_edit_container .new-message-container{
    width: 400px;
}

.comment_add_container.to_remove,
.comment_edit_container.to_remove{
    max-height: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.coment-container{
    display: flex;
    flex-direction: column;
}

.coment-container.second_lvl{
    margin-left: 100px;
    margin-top: 15px;
    order: 2;
}

.coment-container .parent_link{
    color: #1e69a9!important;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    font-size: 12px;
}

.comment.light{
    box-shadow: 0px 0px 20px #3c7487;
}

.comment.light2{
    box-shadow: 0px 0px 20px #3c7487;
}

.comment{
    position: relative;
    transition-duration: 0.6s;
    max-height: 999px;
}

.comment .actions {
    position: absolute;
    right: 10px;
    top: 10px;
    gap: 8px;
    display: flex;
    opacity: 0;
    transition-duration: 0.5s;
}

.comment .actions>div{
    padding: 1px;
    background: #9fd0f1;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 1s;
}

.comment .actions svg {
    width: 22px;
    height: 19px;
}

.comment:hover>.actions{
    opacity: 1;
}

.comment.edited{
    padding: 0;
    margin:0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.comment_edit_container.editor{
    margin-left: 0;
    margin-top: 0;
}

.showthemeaction{
    margin-left: auto!important;
    margin-bottom: -19px!important;
    display: block;
}

.comment-list .add-link{
    justify-content: start;
}