.tool-items-cont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div.tool-items-line{
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 7px 16px;
    width: 100%;
    min-height: 39px;
}

.tool-item{
    position: relative;
}

div.tool-item{
    background:#c4c4c4;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 2px 5px;
}

.tool-option{
    display: flex;
    line-height: 10px;
    color: #000;
}

.tool-option .label{
    width: 45%!important;
    overflow: hidden;
    white-space: nowrap;
    font-size: 9px;
    text-overflow: ellipsis;
    font-weight: 700;
    transition-duration: 0.3s;
}

.tool-option .value{
    width: 45%!important;
    overflow: hidden;
    white-space: nowrap;
    font-size: 9px;
    text-overflow: ellipsis;
    transition-duration: 0.3s;
}

.add-tool-item{
    border-color: transparent!important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 25px !important;
    background: #66B0FC !important;
    border-radius: 35px !important;
    box-shadow: 0px 2px 0px 0px #0000000b !important;
    font-size: 12px !important;
    color: #ffffff !important;
    line-height: 21px !important;
    margin-top: 10px !important;
    padding: 10px 13px;
    cursor: pointer;
}

.tool-item:hover .tool-option .label,
.tool-item:hover .tool-option .value{
    max-width: 100px;
    transition-duration: 0.3s;
}

.tool-select-wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #7f7f7fa3;
}

.tool-select-box{
    background: #fff;
    width: 354px;
    overflow: hidden;
    -webkit-box-shadow: -1px 1px 10px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 1px 10px 5px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 1px 10px 5px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    position: absolute;
    text-align: center;
}

.tool-select-box .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: #dadada;
    width: 19px;
    height: 19px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid #d0d0d0;
    border-radius: 50%;
    color: #9d9d9d;
}

.tool-select-box-head{
    padding: 10px 15px;
    background: #66b0fc;
}

.tool-select-box-title{
    color: #fff;
    text-align: left;
}

.tool-select-box-content{
    padding: 0px 15px 8px 15px;
    text-align: center;
}

.questionlabel{
    color: #4f4f4f;
    margin-top: 10px;
    text-align: left;
    font-weight: 500;
}

.questionEntry{
    margin-top: 3px;
    position: relative;
}

.tool-questions input, .tool-questions select{
    border: 1px solid #c5c6c9!important;
    border-radius: 3px!important;
    min-height: 30px!important;
    color: #6c6c6cee!important;
    width: 100%!important;
    padding: 0 12px;
    box-shadow: inset rgb(0 0 0 / 12%) 0px -12px 30px;
}

.tool-questions input[type=checkbox]{
    width: 19px!important;
    background: transparent;
    box-shadow: none;
}

.life-select{
    position: relative;
}

.select-options .select-option, .questionEntry option{
    outline: none;
    border: 1px solid #c5c6c9;
    min-height: 30px;
    color: #6c6c6cee;
    text-align: left;
    display: flex;
    align-items: center;
    border-top: 0;
    padding: 0 12px;
    cursor: pointer;
}

.select-options{
    display: none;
    position: absolute;
    background: #ffff;
    width: 100%;
    z-index:11;
}

.saveToolItem{
    background: #66b0fc;
    display: inline-block;
    color: #fff;
    padding: 4px 8px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 8px;
    cursor: pointer;
}

.tool-items-table th{
    background: rgb(102, 176, 252);
    position: relative;
    text-align: left;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    padding: 8px 12px;
}

.tool-items-table th::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    height: calc(100% - 20px);
    width: 1px;
    background: #CAD7E5;
}

.tool-items-table td{
    background: #ffffff;
    text-align: left;
    color: #000000;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    padding: 3px 11px;
    position: relative;
}

.tool-items-table td::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    height: calc(100% - 20px);
    width: 1px;
    background: #CAD7E5;
}

.tool-items-table td:last-child::before, .tool-items-table th:last-child::before{
    display: none;
}

table .tool-item .action-td-cont{
    position: absolute;
    height: 100%;
    align-items: flex-start;
    justify-content: space-between;
    top: 0px;
    left: -22px;
    display: none;
    opacity: 0;
}

table .tool-item:hover .action-td-cont{
    display: flex;
    opacity: 1;
}


.actions-cont{
    display: flex;
    flex-direction: column;
}

.actions-cont div{
    cursor: pointer;
    z-index: 12;
    height: 16px;
    width: 16px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    transition-duration: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.actions-cont div:hover{
    background: #eee;
    transform: scale(1.2);
    transition-duration: 0.3s;
}

.actions-cont .correct{
    font-size: 12px;
    line-height: 13px;
}

.actions-cont .remove{
    font-size: 11px;
    line-height: 14px;
}

.action-td-cont{
    width: 0;
    display: table-row;
    height: 0;
    background: transparent!important;
    padding: 0;
}


.questionEntry .load{
    height: 1px;
    animation: loadQ 1.5s infinite linear;
    width: calc(100% - 3px);
    margin: auto;
    position: absolute;
    transform: translate(2px, -1px);
}

@keyframes loadQ {
    0% {
        background: linear-gradient(rgb(197, 196, 243) 0%, rgb(164, 164, 212) 35%, rgb(123, 196, 205) 100%);
    }
    50% {
        background: linear-gradient(rgb(116, 199, 210) 0%, rgb(84, 159, 170) 35%, rgb(71, 175, 189) 100%);
    }
    100% {
        background: linear-gradient(rgb(71, 175, 189) 0%, rgb(158, 217, 224) 35%, rgb(197, 196, 243) 100%);
    }
}

.tool-questions-line{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
}

select.tool-quest-item[multiple]{
    height: auto!important;
    padding: 0!important;
    overflow: hidden;
}

.tool-box-actions{
    display: flex;
    margin-top: 10px;
}

.tool-questions.employer-categories .tool-questions-line{
    grid-template-columns: repeat(1, 1fr);
}

.tool-items-cont.employer-categories{
    margin-bottom: 20px;
}

.tool-box-title{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.04em;
    margin-bottom: 15px;
    color: #3f3f3f;
}

.tool-items-cont.employer-categories td:nth-child(3):before{
    display: none;
}


.ui-btn-sm.ui-btn-primary{
    cursor: pointer;
    color: #fff;
    padding: 3px;
    border-radius: 6px;
    font-family: system-ui;
    background: #66b0fc;
}