/* Left menu*/
.rs-menu
{
	border-bottom: 1px solid #cdd5e3;
}

.rs-menu a
{
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	border: 1px solid transparent;
	display: inline-block;
	margin: 0 0 -1px;
	text-align: center;
	font-size: 21px;
	width: 148px;
	padding: 13px 0;
	text-decoration: none;
	position: relative;
	color: #212529;
}

.rs-menu a:hover
{
	border-color: #e9ecef #e9ecef #dee2e6;
	isolation: isolate;
}

.rs-menu a.selected::before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	background: #709acf;
	height: 1.5px;
	left: 0;
}


.rs-menu a.selected:link,
.rs-menu a.selected:visited,
.rs-menu a.selected:active,
.rs-menu a.selected:hover
{
	background-color: transparent;
	border: 1px solid #cdd5e3;
	border-bottom: 2px solid #ff9a9a;
	border-top: none;
	color: #202124;
}



