.ui-list{
    display: flex;
    flex-direction: column;
}

.ui-list .row{
    padding: 10px 5px;
    position: relative;
}

.ui-list .row:last-child{
    border-bottom: none;
}

.ui-list .row  .table-data{
    font-size: 15px!important;
    color: #7a7a7a!important;
    font-family: Oswald;
    position: relative;
    background: #c2d4f3;
    display: flex;
    position: relative;
    align-items: center;
    padding: 5px 10px;
    text-decoration: none;
}

.ui-list .row .table-data:first-child{
    font-size: 19px!important;
    color: #484a4a!important;
    cursor: pointer;
    font-family: helvetica;
    display: flex;
    position: relative;
    align-items: center;
    padding: 5Px 5px 5px 5px;
    text-decoration: none;
}


.ui-list .row .actions{
    position: absolute;
    right: 6px;
    top: 11px;
    display: flex;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    opacity: 0;
    transition-duration: 0.3s;
}

.ui-list .row .actions>div{
    padding: 2px;
    background: #9fd0f1;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.3s;
    margin-left: 5px;
}

.ui-list .row .actions svg{
    width: 22px;
    height: 19px;
}

.ui-list .row:hover .actions{
    opacity: 1;
}

.empty-informer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.empty-informer .empty-image{
    margin: auto auto 40px auto;
    width: 87px;
    height: 111px;
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2087%20111%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%20%7B%20fill%3A%20%23535c69%3B%20fill-rule%3A%20evenodd%3B%20opacity%3A%200.12%3B%20%7D%3C/style%3E%3C/defs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M86.93%2025.17l.018-.018L61.884.032l-.03.03v-.05H.012v111h86.8v-.008h.17V31.988h.034v-6.82h-.085zM61.84%209.63l15.504%2015.54H61.84V9.63zm18.336%2094.564H6.816V6.83h48.222v18.34h-.02v6.818h25.16v72.206zM56.91%2044.814L44.43%2057.32%2031.95%2044.812%2026.576%2050.2l12.48%2012.508-12.48%2012.507%205.376%205.388L44.43%2068.1l12.48%2012.508%205.377-5.388-12.48-12.508L62.288%2050.2z%22/%3E%3C/svg%3E);
    background-repeat: no-repeat;
}

.empty-informer .empty-text{
    color: #c6c8cc;
    font: 32px var(--ui-font-family-primary,var(--ui-font-family-helvetica));
    margin: auto;
}

.ui-list.minimize .row{
    padding: 4px 2px;
}

.ui-list.minimize .row .table-data{
    color: #525c69!important;
    font: 400 12px/17px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    background: transparent;
}



.ui-list.white .row{
    border-bottom: 1px solid #f7f9fa;
}

.ui-list.white .row:last-child{
    border-bottom: none;
}

.ui-list.white .row  .table-data{
    background: #fff;
    font-family: HeliosCondRegular;
    padding: 15px 16px 10px;
    color: #535c69;
    vertical-align: top;
    font-size: 13px;
}
.ui-list.white .row  .table-data.linked{
    color: #1c53a2!important;
}