.ads-list .item .title {
    color: #212529!important;
    background: #fffacf!important;
}

.rs_activity_direction_events .poisk-container input {
    background: #fff;
    color: #9fa4b6!important;
    border-bottom: 2px solid #137fc4 !important;
}

.rs_activity_direction_events .poisk-container .search-icon .search-path {
    stroke: #5589aa;
}